namespace: argocd
resources:
- namespace.yaml
- github.com/argoproj/argo-cd/manifests/cluster-install/?ref=v2.7.8
- infra_project.yaml
- homelab-repository.yaml
- ingress.yaml
- project_media.yaml
- repo-creds.yaml

patches:
  - path: argocd-cm-patch.yaml
    target:
      labelSelector: "app.kubernetes.io/name=argocd-cm"

configMapGenerator:
  - name: argocd-cmd-params-cm
    behavior: merge
    literals:
    - server.insecure="true"