# Create a deployment manifest to deploy backstage

apiVersion: apps/v1
kind: Deployment
metadata:
  name: backstage
  namespace: backstage
  labels:
    app: backstage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backstage
  template:
    metadata:
      labels:
        app: backstage
    spec:
      serviceAccountName: backstage
      containers:
        - name: backstage

          image: registry.k8s.integratn.tech/backstage:v0.38
          ports:
            - containerPort: 7007
              name: http
          envFrom:
            - secretRef:
                name: backstage-secrets
          volumeMounts:
            - name: org-yaml
              mountPath: /app/users.yaml
              subPath: org.yaml
            - name: app-config
              mountPath: /app/app-config.yaml
              subPath: app-config.yaml
          resources:
            requests:
              cpu: 500m
              memory: 512Mi
            limits:
              cpu: 1500m
              memory: 2048Mi
      volumes:
      # use a secret instead of a configmap
      - name: org-yaml
        secret:
          secretName: backstage-org-yaml
      - name: app-config
        secret:
          secretName: backstage-app-config

        
      