# Create a deployment manifest to deploy backstage

apiVersion: apps/v1
kind: Deployment
metadata:
  name: backstage
  namespace: backstage
  labels:
    app: backstage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backstage
  template:
    metadata:
      labels:
        app: backstage
    spec:
      containers:
        
        - name: backstage

          image: registry.k8s.integratn.tech/backstage:v0.8
          ports:
            - containerPort: 7000
          envFrom:
            - secretRef:
                name: backstage-secrets
          volumeMounts:
            - name: config
              mountPath: /app
          resources:
            limits:
              cpu: "1"
              memory: 1Gi
            requests:
              cpu: "0.5"
              memory: 512Mi
      volumes:
      # use a secret instead of a configmap
      - name: config
        configMap:
          name: app-config
        
      